@font-face {
    font-family: 'fnt';
    src: url('../res/LiberationSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icon';
    src: url('../res/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body,
main {
    margin: 0;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
}

body {
    color: #a0a3a6;
    background: rgb(32, 100, 40);
    font-size: 14px;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.clr {
    display: block;
    width: 100% !important;
}

.clr:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

#main {
    background: #740;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: #222;
    display: block;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.c1 {
    width: 10%;
    height: 100%;
    text-align: center;
    background: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c2 {
    width: 20%;
}

.c3 {
    width: 30%;
}

.c4 {
    width: 40%;
}

.c5 {
    width: 50%;
}

.c6 {
    width: 60%;
}

.c7 {
    width: 70%;
}

.c8 {
    width: 80%;
}

.c9 {
    width: 90%;
}

.c10 {
    width: 100%;
}

.icard {
    position: absolute;
    left: 200px;
    top: 200px;
    width: 5em;
    height: 7em;
    background: #fff url("../img/cards.png") 0 0;
    background-size: 65em 7em;
    border: 1px solid #555;
    border-radius: 4px;
    cursor: pointer;
}

#board, .icard {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#board {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 10em;
    box-shadow: 0 0 1px #03a;
    border-radius: .2em;
}

.down {
    background: linear-gradient(120deg, #38f, #048, #024, #048, #38f) !important;
}

.undo, .redo, .mute, .reload, .sett, .unmute, .clip {
    font-style: normal;
    font-family: icon;
    margin: 0 .2em;
}

.undo:before {
    content: '\e600';
}

.redo:before {
    content: '\e601';
}

.mute:before {
    content: '\e606';
}

.unmute:before {
    content: '\e605';
}

.reload:before {
    content: '\e602';
}

.sett:before {
    content: '\e603';
}

.clip:before {
    content: '\e604';
}

hr {
    width: 80%;
    height: 0;
    border:1px solid #000;
    border-top: 1px solid #222;
    border-bottom: 1px solid #111;
}

i.redo, i.undo {
    display: inline-block;
    margin: .4em;
    padding: 2px;
    border-radius: 1em;
    box-shadow: 0 0 .5em 1px #789;
}

button {
    background: #333;
    color: #a8b2bc;
    text-shadow: 1px 2px 0 #000;
    width: 90%;
    margin: .4em 0;
    border: 1px solid #000;
    border-radius: .2em;
    box-shadow: 0 0 .5em #777;
}

button:hover {
    box-shadow: 0 0 .8em #bdf;
    color: #bdf;
}

/*-----------------------------------------------*/
.message {
    display: none;
    position: fixed;
    min-width: 40%;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background: rgba(100, 110, 120, .7);
    color: #ff0;
    text-shadow: 0 1px 0 #000;
    font-weight: bold;
    font-size: 1.6em;
    font-family: fnt, sans-serif;
    z-index: 1000;
    border: 1px solid #98a2ac;
    border-radius: .2em;
    text-align: center;
    box-shadow: 0 0 1em rgba(0, 0, 0, .7);
}

.close {
    position: absolute;
    right: -.5em;
    top: -.5em;
    border-radius: 2em;
    background: #58626c;
    color: #88929c;
    text-shadow: 0 1px 1px #000;
    box-shadow: 0 0 5px 1px #000;
    font-style: normal;
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
}

.close:after {
    content: '\00d7';
}

.mttl {
    font-size: 1.6em;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 1px #aaa, 0 0 4px #bbb;
}